<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexionString"
            connectionString="data source = LAPTOP-3NFVNUT5\SQLEXPRESS; initial catalog = TareasDB; user id = sa; password = 12345" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>